
Source: deepin-reader
Section: graphics
Priority: optional
Maintainer: deepin <packages@deepin.com>
Build-Depends:
 debhelper (>= 11),
 pkg-config,
 qt6-5compat-dev,
 qt6-base-dev,
 qt6-tools-dev-tools,
 qt6-tools-dev,
 qt6-svg-dev,
 qt6-webengine-dev,
 libdtk6widget-dev,
 libdtk6gui-dev,
 libdtk6core-dev,
 libdeepin-pdfium-dev (>= 1.5.1),
 libdjvulibre-dev,
 libtiff-dev,
 libjpeg-dev,
 libicu-dev,
 libpng-dev,
 zlib1g-dev,
 liblcms2-dev,
 libopenjp2-7-dev,
 libfreetype6-dev,
 libgtest-dev,
 libchardet-dev,
 cmake,
Standards-Version: 4.5.0

Package: deepin-reader
Architecture: any
Depends: 
    ${shlibs:Depends}, 
    ${misc:Depends}, 
    pandoc,  
    libqt6webenginecore6-bin [!mipsel !mips64el] | libqt5core5a
Description: a tool for reading document files.
 Document Viewer is a tool for reading document files, supporting PDF, DJVU, DOCX etc.
